/*globales*/

html {
    /*10px === 1rem*/
    font-size: 62.5%;
}

* a {
    text-decoration: none;
}


/*header*/

.container {
    height: 100vh;
}


/*---------------menu de navegacion---------------*/


/*nombre del sitio web*/

span {
    font-size: 3rem;
    margin-left: 1.5rem;
    font-weight: bold;
}


/*menu  de navegacion*/

.menu {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}


/*logo*/

.logo-principal {
    display: flex;
    align-items: center;
}


/*link de navegacion*/

.link-navegacion {
    width: 70rem;
    list-style: none;
    display: flex;
    justify-content: space-between;
    font-size: 2.2rem;
}

.link-navegacion li a {
    color: #000000;
    font-weight: bold;
}

.link-navegacion li:last-child {
    margin-left: 3.5rem;
}


/*registrar*/

.registrar {
    width: 20rem;
    font-size: 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.registrar a {
    display: block;
    border: 0.2rem #b7b3b3 solid;
    padding: 0.3rem 1.2rem;
    font-weight: 500;
}

.registrar .link-registrar1 {
    padding: 0.3rem 1.7rem;
    margin-right: 1rem;
    color: #000000;
}